<ng-container *ngIf="myGamepad && myGamepad.buttons && myGamepad.buttons.length; else noPad">
  <div class="container" >
    <div class="top-container">
    <ng-container *ngFor="let button of myGamepad.buttons; let i=index;trackBy: trackByFn">
      <ng-container *ngIf="i < 5">
        <div class="button" [ngStyle]="{backgroundColor: colors[i], opacity: pressed[i] ? '1' : '0.5'}"><img src="assets/Skull-Icon.svg" alt="My Happy SVG"/></div>
      </ng-container>
    </ng-container>
  </div>
    <div class="strum-container">
      <div class="strumbar" [ngClass]="{up: up && !down, down: down && !up}">
      </div>
  </div>
  </div>
</ng-container>
<ng-template #noPad>
  <div class="container" >
    <h2 style="color: white;">No Controller Detected</h2>
  </div>
</ng-template>
<div class="donations">
  <div class="bottom">
    <img src="assets/code.png" alt="Bitcoin QR Code" height="300" width="300" />
    <h4>bitcoin:3HKN8Wd3RfVm1x9hwqqUaf9ybscQQhM6S4</h4>
  </div>
  
</div>
